.table {
  background-color: #fff;
  width: 400px;

  table-layout: fixed;
  
  font-size: 14px;
  color: #000;
  text-align: center;
}

th,
td {
  border: 1px solid #000;
  width: 400px
}

.current {
  background-color: var(--highlighted-current);
}

.came-from {
  background-color: var(--highlighted-came-from); 
}