.map-container {
  align-self: center;
  display: grid;
  font-size: 10px;
}

.spot {
  border: 1px solid black;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: center;
}

.arrow {
  height: 20px;
}

/* Kinds */

.empty {
  background-color: white;
}

.wall {
  background-color: black;
}

.start {
  background-color: green;
  cursor: grab
}

.finish {
  background-color: red;
  cursor: grab
}

.frontier {
  background-color: lightcoral
}

.reached {
  background-color: brown
}

.path {
  background-color: blue;
}

.highlight-current {
  border: 5px solid var(--highlighted-current)
}

.highlight-came-from {
  border: 5px solid var(--highlighted-came-from)
}