.map-container {
  margin: auto;
  display: grid;
  font-size: 10px;
}

.spot {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Kinds */

.empty {
  background-color: white;
}

.wall {
  background-color: black;
}

.start {
  background-color: green;
}

.finish {
  background-color: red;
}

.frontier {
  background-color: lightcoral
}

.reached {
  background-color: brown
}